
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body{
  background: url(./assets/hangman.jpg) no-repeat fixed;
  background-size: cover;
  backdrop-filter: blur(2px);
}
.container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 4rem;
}

@media (max-width: 1060px){
  .container {
    display: flex;
    justify-content: space-between;
    margin-left: 1rem;
  }
}
@media (max-width: 840px){
  .container {
    display: flex;
    flex-direction: column; 
    align-items: center;
    margin: 2rem;
  }
}